body {
  
}

.profile-area {
  
}



.div1 {
    width: 50%;
    margin: 13px,13px,13px,13px;
    float: left;
}

.div2 {
    width: 50%;
    margin: 3px,3px,3px,3px;
    float: right; 
}

#thumbnilId{
    width:60%;
}

#thumnailImage{
    height:130px;
}

#takeImage{
    width:50%;
}


#chooseFile {
    width: 50px;
    height: 10px;
    margin-top: 150px;
    margin-right: 30px;
    color: #0094ff;
}


#title, #description, #videoUrl, #dateAndTime, #videoTypeId, #videoPlayerId, #chooseFile1 {
    margin-top: 30px;
}

#titleWidth, #textAreaWidth, #dateAndTime, #videoUrl, #videoPlayerId, #chooseFile1 {
    width: 80%
}

#cancleAndProcessed{
    margin-top:60px;
    margin-left:280px;
}

#uploadButton {
    position: relative;
    overflow: hidden;
}

#uploadButtonInput {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}