@model FanEase.UI.Models.User.ForgetPasswordVm
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "_layout";
}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link Of CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/remixicon.css">
    <link rel="stylesheet" href="assets/css/boxicons.min.css">
    <link rel="stylesheet" href="assets/css/iconsax.css">
    <link rel="stylesheet" href="assets/css/metismenu.min.css">
    <link rel="stylesheet" href="assets/css/simplebar.min.css">
    <link rel="stylesheet" href="assets/css/calendar.css">
    <link rel="stylesheet" href="assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="assets/css/jbox.all.min.css">
    <link rel="stylesheet" href="assets/css/editor.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/loaders.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.svg">
    <!-- Title -->
    <title>FanEase -Forget Password</title>
</head>

<!-- Start Account Area -->
<div class="account-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="account-content">
                    <div class="account-header">
                        <a href="index.html">
                            <img src="assets\images\FanEase\Logo-Index.png" height="50px" width="50px" alt="main-logo">
                        </a>
                        <h3>Forget Password</h3>
                    </div>

                    <form class="account-wrap" asp-action="ForgetPassword" method="post">
                        <div class="form-group mb-24 icon">

                            <input asp-for="Email" type="text" class="form-control" placeholder="Email Address">
                            <img src="assets/images/icon/sms.svg" alt="sms">
                            
                        </div>
                        <div class="form-group mb-24">
                            <button type="submit" class="default-btn">Submit</button>
                        </div>
                      
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>










