@model FanEase.UI.Models.User.LoginVm

@{
    ViewData["Title"] = "Login";
    Layout = "_layout";
}


<header>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link Of CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <link rel="stylesheet" href="../assets/css/remixicon.css">
    <link rel="stylesheet" href="../assets/css/boxicons.min.css">
    <link rel="stylesheet" href="../assets/css/iconsax.css">
    <link rel="stylesheet" href="../assets/css/metismenu.min.css">
    <link rel="stylesheet" href="../assets/css/simplebar.min.css">
    <link rel="stylesheet" href="../assets/css/calendar.css">
    <link rel="stylesheet" href="../assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="../assets/css/jbox.all.min.css">
    <link rel="stylesheet" href="../assets/css/editor.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/loaders.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/images/favicon.svg">
    <!-- Title -->
    <title>FanEase -Login</title>
</header>
<!-- Start Account Area -->
<div class="account-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="account-content">
                    <div class="account-header">
                        <a href="index.html">
                            <img src="../assets\images\FanEase\Logo-Index.png" height="50px" width="50px" alt="main-logo">
                            <!--<div>FanEase</div> -->
                        </a>
                        <h3>Login</h3>
                    </div>
                    <span class="text-danger">@ViewBag.NotAllowed</span>
                    <form class="account-wrap" asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mb-24 icon">
                            
                            <input type="email" asp-for=Email class="form-control" placeholder="Email">
                            <img src="../assets/images/icon/sms.svg" alt="sms">
                           
                        </div>
                        <div class="form-group mb-24 icon">
                            
                            <input type="password" asp-for="Password" class="form-control" placeholder="Password">
                            <img src="../assets/images/icon/key.svg" alt="key">
                        </div>
                        
                        <div class="form-group mb-24">
                            <a href="ForgetPassword" class="forgot">Forgot Password?</a>
                        </div>
                        <div class="form-group mb-24">
                            <button type="submit" class="default-btn">Log In</button>
                        </div>
                        <div class="form-group mb-24 text-center">
                            <p class="account">Not A Member? <a href="Register">Create An Account</a></p>
                        </div>
                    </form>

                  
                </div>
            </div>
        </div>
    </div>
</div>


