@model FanEase.UI.Models.Campaignvm
@inject IHttpContextAccessor HttpContextAccessor;
@{
    ViewData["Title"] = "AddCampaignss";
    Layout = "FanEaseLayout";
    string UserId = "RB6567";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link Of CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/assets/css/remixicon.css">
    <link rel="stylesheet" href="~/assets/css/boxicons.min.css">
    <link rel="stylesheet" href="~/assets/css/iconsax.css">
    <link rel="stylesheet" href="~/assets/css/metismenu.min.css">
    <link rel="stylesheet" href="~/assets/css/simplebar.min.css">
    <link rel="stylesheet" href="~/assets/css/calendar.css">
    <link rel="stylesheet" href="~/assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="~/assets/css/jbox.all.min.css">
    <link rel="stylesheet" href="~/assets/css/editor.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets/css/loaders.css">
    <link rel="stylesheet" href="~/assets/css/header.css">
    <link rel="stylesheet" href="~/assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="~/assets/css/footer.css">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    <link rel="stylesheet" href="~/assets/css/Campaign.css" />

    <title>FanEase -Campaign Details</title>
</head>
<div class="profile-area">
    <div class="container-fluid">
        <div class="row">
            <div class="edit-profile-content card-box-style col-lg-12">
                <div class="d-flex justify-content-between mb-3">
                    <h1>Campaign Details</h1>
                    <!-- Two buttons at the opposite side -->
                    <div>
                        <button type="button" class="btn btn-primary">View Existing Advertisement</button>
                        <button type="button" class="btn btn-success">Add Advertisement</button>
                    </div>
                </div>

                <form asp-action="AddCampaignss" asp-controller="Campaign" method="post">
                    <div class="row hidden">
                        <div class="col-md-6 sol-sm-12">
                            <div class="form-group">
                                <label asp-for="userId" class="control-label"></label>
                                <div class="input-group">
                                    <textarea asp-for="userId" class="form-control" id="end1" placeholder="Enter Campaign Name"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 sol-sm-12">
                            <div class="form-group">
                                <!--<label asp-for="name" class="control-label"></label>-->
                                <span>Campaign Name</span>
                                <span class="text-danger">*</span>
                                <div class="input-group">
                                    <textarea asp-for="name" class="form-control" id="end1" placeholder="Enter CampaignName"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                               <span>Start Date</span>
                                <span class="text-danger">*</span>
                                <input asp-for="startDate" class="form-control"  />
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="form-group">
                                <span>End Date</span>
                                <span class="text-danger">*</span>
                                <input asp-for="endDate" class="form-control" />
                            </div>
                        </div>
                        <div class="save-update">
                            <input onclick="myCancelFunction()" type="submit" value="Cancel" class="btn btn-danger" id="btnReset" />
                            &nbsp;
                            <input type="submit" value="Submit" class="btn btn-primary float-right" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>