<!DOCTYPE html>

<html>
<head>

    <title>@ViewData["Title"] - FanEase.UI</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link Of CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../assets/css/animate.min.css">
    <link rel="stylesheet" href="../assets/css/remixicon.css">
    <link rel="stylesheet" href="../assets/css/boxicons.min.css">
    <link rel="stylesheet" href="../assets/css/iconsax.css">
    <link rel="stylesheet" href="../assets/css/metismenu.min.css">
    <link rel="stylesheet" href="../assets/css/simplebar.min.css">

    <link rel="stylesheet" href="../assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="../assets/css/jbox.all.min.css">
    <link rel="stylesheet" href="../assets/css/editor.css">
    <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="../assets/css/loaders.css">
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="../assets/images/favicon.svg">

</head>
<body class="body-bg-f8faff">

    <!-- Start All Section Area -->
    <div class="all-section-area">
        <!-- Start Header Area -->
        <div class="header-area">
            <div class="container-fluid">
                <div class="header-content-wrapper">
                    <div class="header-content d-flex justify-content-between align-items-center">
                        <div class="header-left-content d-flex">
                            <div class="responsive-burger-menu d-block d-lg-none">
                                <span class="top-bar"></span>
                                <span class="middle-bar"></span>
                                <span class="bottom-bar"></span>
                            </div>

                            <div class="main-logo">
                                <a href="index.html">
                                    <img src="../assets\images\FanEase\Logo-Index.png" height="50px" width="50px" alt="main-logo"> FanEase
                                </a>
                            </div>

                            <form class="search-bar d-flex">
                                <img src="../assets/images/icon/search-normal.svg" alt="search-normal">

                                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                            </form>

                            <div class="option-item for-mobile-devices d-block d-lg-none">
                                <i class="search-btn ri-search-line"></i>
                                <i class="close-btn ri-close-line"></i>

                                <div class="search-overlay search-popup">
                                    <div class='search-box'>
                                        <form class="search-form">
                                            <input class="search-input" name="search" placeholder="Search" type="text">

                                            <button class="search-button" type="submit">
                                                <i class="ri-search-line"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="header-right-content d-flex align-items-center">

                            <div class="header-right-option notification-option dropdown">
                                <div class="dropdown-item dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <div class="notification-btn">
                                        <img src="../assets/images/icon/notification.svg" alt="notification">
                                        <span class="badge">4</span>
                                    </div>
                                </div>

                                <div class="dropdown-menu">
                                    <div class="dropdown-header d-flex justify-content-between align-items-center bg-linear">
                                        <span class="title d-inline-block">6 New Notifications</span>
                                        <span class="mark-all-btn d-inline-block">Mark all as read</span>
                                    </div>

                                    <div class="dropdown-wrap" data-simplebar>
                                        <a href="inbox.html" class="dropdown-item d-flex align-items-center">
                                            <div class="icon">
                                                <i class='bx bx-message-rounded-dots'></i>
                                            </div>

                                            <div class="content">
                                                <span class="d-block">Just sent a new message!</span>
                                                <p class="sub-text mb-0">2 sec ago</p>
                                            </div>
                                        </a>

                                        <a href="inbox.html" class="dropdown-item d-flex align-items-center">
                                            <div class="icon">
                                                <i class='bx bx-user'></i>
                                            </div>

                                            <div class="content">
                                                <span class="d-block">New customer registered</span>
                                                <p class="sub-text mb-0">5 sec ago</p>
                                            </div>
                                        </a>

                                        <a href="inbox.html" class="dropdown-item d-flex align-items-center">
                                            <div class="icon">
                                                <i class='bx bx-layer'></i>
                                            </div>

                                            <div class="content">
                                                <span class="d-block">Apps are ready for update</span>
                                                <p class="sub-text mb-0">3 min ago</p>
                                            </div>
                                        </a>

                                        <a href="inbox.html" class="dropdown-item d-flex align-items-center">
                                            <div class="icon">
                                                <i class='bx bx-hourglass'></i>
                                            </div>

                                            <div class="content">
                                                <span class="d-block">Your item is shipped</span>
                                                <p class="sub-text mb-0">7 min ago</p>
                                            </div>
                                        </a>

                                        <a href="inbox.html" class="dropdown-item d-flex align-items-center">
                                            <div class="icon">
                                                <i class='bx bx-comment-dots'></i>
                                            </div>

                                            <div class="content">
                                                <span class="d-block">Steven commented on your post</span>
                                                <p class="sub-text mb-0">1 sec ago</p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="dropdown-footer">
                                        <a href="inbox.html" class="dropdown-item">View All</a>
                                    </div>
                                </div>
                            </div>

                            <div class="header-right-option dropdown profile-nav-item pt-0 pb-0">
                                <a class="dropdown-item dropdown-toggle avatar d-flex align-items-center" href="#" id="navbarDropdown-4" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <img src="../assets/images/avatar.png" alt="avatar">
                                    <div class="d-none d-lg-block d-md-block">
                                        <h3>John Smilga</h3>
                                        <span>Super Admin</span>
                                    </div>
                                </a>

                                <div class="dropdown-menu">
                                    <div class="dropdown-header d-flex flex-column align-items-center">
                                        <div class="figure mb-3">
                                            <img src="../assets/images/avatar.png" class="rounded-circle" alt="avatar">
                                        </div>

                                        <div class="info text-center">
                                            <span class="name">John Smilga</span>
                                            <p class="mb-3 email">
                                                <a href="mailto:johnsmilga@hello.com">johnsmilga@hello.com</a>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="dropdown-wrap">
                                        <ul class="profile-nav p-0 pt-3">
                                            <li class="nav-item">
                                                <a href="profile.html" class="nav-link">
                                                    <i class="ri-user-line"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="inbox.html" class="nav-link">
                                                    <i class="ri-mail-send-line"></i>
                                                    <span>My Inbox</span>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="edit-profile.html" class="nav-link">
                                                    <i class="ri-edit-box-line"></i>
                                                    <span>Edit Profile</span>
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a href="edit-profile.html" class="nav-link">
                                                    <i class="ri-settings-5-line"></i>
                                                    <span>Settings</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="dropdown-footer">
                                        <ul class="profile-nav">
                                            <li class="nav-item">
                                                <a href="login.html" class="nav-link">
                                                    <i class="ri-login-circle-line"></i>
                                                    <span>Logout</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="header-right-option template-option">
                                <a class="dropdown-item" href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                    <img src="../assets/images/icon/setting.svg" alt="setting">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Area -->
        <!-- Start Sidebar Menu Area -->
        <nav class="sidebar-menu">
            <ul class="list-group flex-column d-inline-block first-menu" data-simplebar>
                <li class="list-group-item main-grid active">
                    <a href="#" class="icon">
                        <img src="../assets/images/icon/element.svg" alt="element">
                    </a>

                    <ul class="list-group flex-column d-inline-block submenu">
                        <li class="list-group-item">
                            <a href="website-analytics.html" class="active">Website Analytics</a>
                        </li>
                        <li class="list-group-item">
                            <a href="hr-management.html">HR Management</a>
                        </li>
                        <li class="list-group-item">
                            <a href="tutor-lms.html">Tutor LMS</a>
                        </li>

                        <!-- <ul class="list-group flex-column d-inline-block sub-submenu">
                            <span class="arrow"></span>
                            <li class="list-group-item">
                                <a href="#">Home</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">My Sites</a>
                            </li>
                        </ul> It's sub menu Past in (list-group-item) -->
                    </ul>
                </li>



                <li class="list-group-item main-grid">
                    <a href="#" class="icon">
                        <img src="../assets/images/icon/document-copy.svg" alt="document-copy">
                    </a>

                    <ul class="list-group flex-column d-inline-block submenu" data-simplebar>
                        <li class="list-group-item">
                            <a href="my-devices.html">My Devices</a>
                        </li>
                        <li class="list-group-item">
                            <a href="recent.html">Recent</a>
                        </li>
                        <li class="list-group-item">
                            <a href="important.html">Important</a>
                        </li>
                        <li class="list-group-item">
                            <a href="deleted-files.html">Deleted Files</a>
                        </li>
                        <li class="list-group-item">
                            <a href="documents.html">Documents</a>
                        </li>
                        <li class="list-group-item">
                            <a href="images.html">Images</a>
                        </li>
                        <li class="list-group-item">
                            <a href="videos.html">Videos</a>
                        </li>
                        <li class="list-group-item">
                            <a href="audio.html">Audio</a>
                        </li>
                    </ul>
                </li>


                <li class="list-group-item main-grid">
                    <a href="#" class="icon">
                        <img src="../assets/images/icon/email.svg" alt="email">
                    </a>

                    <ul class="list-group flex-column d-inline-block submenu" data-simplebar>
                        <li class="list-group-item">
                            <a href="inbox.html">Inbox</a>
                        </li>
                        <li class="list-group-item">
                            <a href="starred.html">Starred</a>
                        </li>
                        <li class="list-group-item">
                            <a href="drafts.html">Drafts</a>
                        </li>
                        <li class="list-group-item">
                            <a href="importants.html">Important</a>
                        </li>
                        <li class="list-group-item">
                            <a href="trash.html">Trash</a>
                        </li>
                    </ul>
                </li>

                <li class="list-group-item main-grid">
                    <a href="#" class="icon">
                        <img src="../assets/images/icon/user-octagon.svg" alt="user-octagon">
                    </a>

                    <ul class="list-group flex-column d-inline-block submenu" data-simplebar>
                        <li class="list-group-item">
                            <a href="login.html">Login</a>
                        </li>
                        <li class="list-group-item">
                            <a href="register.html">Register</a>
                        </li>
                        <li class="list-group-item">
                            <a href="profile.html">Profile</a>
                        </li>
                        <li class="list-group-item">
                            <a href="edit-profile.html">Edit profile</a>
                        </li>
                        <li class="list-group-item">
                            <a href="forget-password.html">Forget Password</a>
                        </li>
                        <li class="list-group-item">
                            <a href="screen-lock.html">Screen Lock</a>
                        </li>
                        <li class="list-group-item">
                            <a href="error.html">Error</a>
                        </li>
                    </ul>
                </li>

                <li class="list-group-item main-grid">
                    <a href="#" class="icon">
                        <img src="../assets/images/icon/book.svg" alt="book">
                    </a>

                    <ul class="list-group flex-column d-inline-block submenu" data-simplebar>
                        <li class="list-group-item">
                            <a href="box-icon.html">Box Icon</a>
                        </li>
                        <li class="list-group-item">
                            <a href="remix-icon.html">Remix Icon</a>
                        </li>
                    </ul>
                </li>



            </ul>
        </nav>
        <!-- End Sidebar Menu Area -->
        <!-- Start Footer Area -->
        <main class="main-content-wrap">
            @RenderBody()

            <!-- End Footer Area -->



        </main>
        <div class="footer-area">
            <div class="container-fluid">
                <div class="footer-content">
                    <p>© FanEase is Proudly Owned by <a href="https://fanease.com/privacy" target="_blank">FanEase</a></p>
                </div>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
