@{
    ViewData["Title"] = "UnderConstruction";
    Layout = "AdminLayout";
}

<div align="center">
<img class="image" src="../assets/images/maintenancebg.jpg" width="1400px" height="auto" alt="main-logo">

</div>