@model FanEase.UI.Models.User.AddCreatorFormDTO

@{
    ViewData["Title"] = "AddCreatorForm";
    Layout = "AdminLayout";
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link Of CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/remixicon.css">
    <link rel="stylesheet" href="assets/css/boxicons.min.css">
    <link rel="stylesheet" href="assets/css/iconsax.css">
    <link rel="stylesheet" href="assets/css/metismenu.min.css">
    <link rel="stylesheet" href="assets/css/simplebar.min.css">
    <link rel="stylesheet" href="assets/css/calendar.css">
    <link rel="stylesheet" href="assets/css/sweetalert2.min.css">
    <link rel="stylesheet" href="assets/css/jbox.all.min.css">
    <link rel="stylesheet" href="assets/css/editor.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/loaders.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/sidebar-menu.css">
    <link rel="stylesheet" href="assets/css/footer.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>
<body class="body-bg-f8faff">
    <main class="main-content-wrap">
        <div class="page-title-area">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-sm-6">
                        <div class="page-title">
                            <h3>Add Creator</h3>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-6">
                        <ul class="page-title-list">
                            <li>Pages</li>
                            <li>Add Creator</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

  <div class="profile-area">
      <div class="container-fluid">
            <div class="row">
                 <div class="col-lg-8">
                    <div class="edit-profile-content card-box-style">
                            <h3>Creator Registration Form</h3>
        <form asp-action="AddCreatorForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
         <div class="row">
           <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="ProfilePhoto" class="control-label"></label>
                <input asp-for="ProfilePhoto" type="file" class="form-control" />
                <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
            </div>
            </div>
            </div>
           <div class="row">
             <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            </div>
           
            
            <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            </div>
                                <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" type="email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                </div>
                                <div class="col-lg-6">
                                <div class="form-group">
                                    <label asp-for="ContactNo" class="control-label"></label>
                                    <input asp-for="ContactNo" class="form-control" />
                                    <span asp-validation-for="ContactNo" class="text-danger"></span>
                                </div>
                                </div>
           
            
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

          
              <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            </div>
            
            
              <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
           
            </div>
            </div>
            
            
                 
            <div class="form-group" >
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
            <div class="row">
                                    <div class="form-group" align="right">
                <input type="reset" value="Reset" class="btn btn-danger" />
               </div>
                               
                                    <a asp-action="ContenetCreatorList">Back to List</a>
                               
                                </div>
        </form>
    </div>
</div>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
            
        </div>
    </main>
</body>
